
@{
    Layout = null;
}
<!--FormApprovedGroup-->

<form class="layui-form layui-form-pane" action="" lay-filter="formApprovedGroup" style="padding:20px 20px 0px 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">审批组</label>
        <div class="layui-input-block">
            <input type="text" name="ApprovedGroupName" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排列顺序</label>
        <div class="layui-input-inline">
            <input type="number" name="Sort" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="GroupSave">保存</button>
        </div>
    </div>
</form>
