
@{
    Layout = null;
}

<!DOCTYPE html>

<div class="layui-col-lg10">
    <table class="layui-hide" id="tbFunctionOperation" lay-filter="tbFunctionOperation"></table>
    <script type="text/html" id="barCz">
        <a class="layui-btn layui-btn-xs" lay-event="editFunction">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="delFunction">删除</a>
    </script>
</div>

