
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserManage</title>
    <link href="~/Scripts/layui-v2.4.2/layui/css/layui.css" rel="stylesheet" />
    <link href="~/CSS/ultree.css" rel="stylesheet" />
    @*<link href="~/CSS/formSelects-v4.css" rel="stylesheet" />*@
    <style type="text/css">
        /*table 样式修改 begin*/
        .layui-table-hover {
            background-color: #c2c2c2 !important;
        }

        .layui-table-click {
            background-color: #393D49 !important;
            color: white;
        }
        /*table 样式修改 end*/
    </style>
</head>
<body>
    <div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">查询</h2>
                <div class="layui-colla-content">
                    <form id="queryForm" class="layui-form layui-form-pane" action="" lay-filter="queryForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="UserName" placeholder="" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="NickName" placeholder="" autocomplete="off" class="layui-input">
                            </div>

                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="Tel" l placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">业务类型</label>
                            <div class="layui-input-inline">
                                <select id="qWuLiuYeWuID" name="WuLiuYeWuID" lay-search="" lay-filter="qWuLiuYeWuID"></select>
                            </div>

                            <label class="layui-form-label">角色群组</label>
                            <div class="layui-input-inline">
                                <select id="qPowerGroupID" name="PowerGroupID"  lay-search="" lay-filter="qPowerGroupID"></select>
                            </div>

                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit lay-filter="query">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="layui-row">
            <div class="layui-col-lg2">
                <div id="dataList" style="display: inline-block; width: 85%; padding: 10px; border: 1px solid #ddd; overflow: auto;">
                    <ul id="treeGroup" class="ultree"></ul>
                </div>
            </div>
            <div class="layui-col-lg10">
                <div class="layui-btn-group tbTools">
                    @*<button class="layui-btn layui-btn-sm" data-type="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
            <button class="layui-btn layui-btn-sm" data-type="edit"><i class="layui-icon layui-icon-edit"></i>修改</button>*@
                </div>
                <hr />

                <table class="layui-hide" id="tbUsers" lay-filter="tbUsers"></table>
                <script type="text/html" id="switchShow">
                    <input type="checkbox" layui-disabled name="Show" value="{{d.ID}}" lay-skin="switch" lay-text="ON|OFF" lay-event="select" lay-filter="ShowMark" {{ d.ShowMark == 'Y' ? 'checked' : '' }}>
                </script>
                <script type="text/html" id="switchApprove">
                    <input type="checkbox" name="ApproveChangeMark" value="{{d.ID}}" lay-skin="switch" lay-text="ON|OFF" lay-event="select" lay-filter="Approve_ChangeMark" {{ d.Approve_ChangeMark == 'Y' ? 'checked' : '' }}>
                </script>
                <script type="text/html" id="switchCC">
                    <input type="checkbox" name="CCChangeMark" value="{{d.ID}}" lay-skin="switch" lay-text="ON|OFF" lay-event="select" lay-filter="CC_ChangeMark" {{ d.CC_ChangeMark == 'Y' ? 'checked' : '' }}>
                </script>


                <script type="text/html" id="sexStyle">
                    {{#  if(d.Sex === 1){ }}
                    <span style="color: #F581B1;"><i class="layui-icon layui-icon-female"></i></span>
                    {{#  } else { }}
                    <span style="color: #1E9FFF;"><i class="layui-icon layui-icon-male"></i></span>
                    {{#  } }}
                </script>
            </div>
        </div>
    </div>

    <script src="~/Js/ie8MapObject.js"></script>
    <script src="~/Scripts/layui-v2.4.2/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Js/MKCom.js"></script>
    <script type="text/javascript">
        layui.config({
            base: '../Js/'
        }).extend({
            formSelects: 'formSelects-v3'
        })
        layui.use(['element','table', 'form', 'tree', 'formSelects'], function () {
            
            var table = layui.table, form = layui.form, tree = layui.tree, $ = layui.jquery, formSelects = layui.formSelects;//多选下拉框

            $.get("/FunBar/GetFuns", { PowerID: GetQueryString("PowerID") }, function (r) {
                for (var i = 0; i < r.length; i++) {
                    var barHtml = "";
                    if (r && r.length > 0) {
                        barHtml += '<button class="layui-btn layui-btn-sm" data-type="' + r[i].DataType + '" >' +
                            '<i class="layui-icon"></i>' +  r[i].FeaturesName + '</button > '
                    }
                    $(".tbTools").append(barHtml);
                }
            }, "json");

            //绑定业务下拉框
            InitNewCombobox("#qWuLiuYeWuID", "YeWuType", form, true);
            //绑定群组下拉框
            InitNewCombobox("#qPowerGroupID", "PowerGroupType", form, true);
            $("#dataList").css("height", (window.innerHeight -30) + 'px');
            var getTreeNodesData,//选中的树节点数据
                commandName,//执行命令名称
                SelectData,//table选中的数据
                configParams = {
                    formUrl: '/User/FormInfoUser',
                    postUrl: '/User/ExceInfoUser',
                    showActionName: "UpdateInfoUserMark",
                    ccActionName: "UpdateInfoUserCCMark",
                    approveActionName: "UpdateInfoUserApproveMark",
                    verifyName: "VerifyExistsUser",
                    queryForm: function () {
                        getQueryFormElem("/User/QueryFormInfoUser");
                        //绑定业务下拉框
                        InitNewCombobox("#WuLiuYeWuID", "YeWuType", form, true);
                        //绑定群组下拉框
                        InitNewCombobox("#PowerGroupID", "PowerGroupType", form, true);
                        //绑定语种类型
                        InitNewCombobox("#DefaultLanguage", "LanguageType", form, true);
                        //绑定群组下拉框
                        InitNewCombobox("#PowerGroupID", "PowerGroupType", form, true);
                    },
                    formVal: function (isVal) {
                        //绑定业务下拉框
                        InitNewCombobox("#WuLiuYeWuID", "YeWuType", form, false);
                        //绑定群组下拉框
                        InitNewCombobox("#PowerGroupID", "PowerGroupType", form, false);
                        //绑定语种类型
                        InitNewCombobox("#DefaultLanguage", "LanguageType", form, false);
                        //绑定审批人
                        InitNewCombobox("#ApproveID", "UserType", form, false);
                        //绑定抄送人
                        InitNewCombobox("#CCID", "UserType", form, false);

                        //赋值修改的数据
                        if (isVal) {
                            form.val('formInfoUser', {
                                "WuLiuYeWuID": SelectData.WuLiuYeWuID
                                , "PowerGroupID": SelectData.PowerGroupID
                                , "UserName": SelectData.UserName
                                , "NickName": SelectData.NickName
                                , "DefaultLanguage": SelectData.DefaultLanguage
                                , "Sex": SelectData.Sex.toString()
                            })
                            form.render('select');
                            formSelects.render({
                                name: 'ApproveID'
                            });
                            formSelects.render({
                                name: 'CCID'
                            });
                            //formSelects.render('ApproveID');
                            //formSelects.render('CCID');
                            formSelects.value('ApproveID', getFormSelectsByUserID(SelectData.ID, "Approve"))
                            formSelects.value('CCID', getFormSelectsByUserID(SelectData.ID,"CC"))
                        }
                    }
                }

            tree({
                elem: '#treeGroup',
                nodes: getByTree(),
                click: function (node) {//node即为当前点击的节点数据
                    //缓存选中树节点
                    getTreeNodesData = node;
                    //显示table数据
                    tbUserReload(getTreeNodesData.id);
                    //清空选中数据缓存
                    SelectData = null;
                }
            });

            $('.ultree li a').on('click', function () {
                $(this).addClass('ultree-on');
                $('.ultree li a').not($(this)).removeClass('ultree-on');
            });

            var tb_user = table.render({
                elem: '#tbUsers',
                height: 520,
                url: '/User/GetUsersInfo',
                where: { PowerGroupID: "All", UserName: "", NickName: "", Tel: "", WuLiuYeWuID: "" },
                toolbar: true,
                page: true,
                cols: [[
                    { field: 'UserName', title: '用户名', width: 120, event: 'select', align: 'center', sort: true, fixed: 'left' }
                    , { field: 'NickName', title: '昵称', width: 150, event: 'select', align: 'center', sort: true }
                    , { field: 'Sex', title: '性别', width: 87, align: 'center', event: 'select', sort: true, templet: '#sexStyle' }
                    , { field: 'Tel', title: '联系电话', width: 170, event: 'select', align: 'center', sort: true }
                    , { field: 'PowerGroupName', title: '群组角色', width: 170, event: 'select', align: 'center' }
                    , { field: 'YeWuType', title: '业务类型', width: 170, event: 'select', align: 'center' }
                    , { field: 'DefaultLanguage', title: '默认语言', width: 160, event: 'select', align: 'center', sort: true }
                    , { field: 'ApproveName', title: '审批人', width: 120, event: 'select', align: 'center', sort: true }
                    , { field: 'Approve_ChangeMark', title: '审批人更改标识', width: 160, event: 'select', align: 'center', sort: true, templet: '#switchApprove' }
                    , { field: 'CCName', title: '抄送人', width: 120, event: 'select', align: 'center', sort: true }
                    , { field: 'CC_ChangeMark', title: '抄送人更改标识', width: 160, event: 'select', align: 'center', sort: true, templet: '#switchCC' }
                    , { field: 'ShowMark', title: '是否有效', width: 110, event: 'select', sort: true, templet: '#switchShow', fixed: 'right' }
                ]],
                done: function (res, curr, count) {
                    SelectData = null;
                }
            });

            function tbUserReload(gpID) {
                tb_user.reload({
                    where: { PowerGroupID: gpID }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }
            var active = {
                //新增
                add: function () {
                    commandName = 'Insert';
                    //显示加载动画
                    var index = layer.load(0, { shade: false });
                    //打开新增页面
                    $.post(configParams.formUrl, {}, function (formElem) {
                        layer.open({
                            title: "添加信息",
                            area: ['731px', '461px'],
                            skin: 'layui-layer-molv',
                            type: 1,
                            content: formElem,
                        });
                        //关闭加载动画
                        layer.close(index);
                        //渲染页面
                        form.render();
                        //绑定下拉框
                        configParams.formVal(false);
                    });
                },
                //编辑
                edit: function () {
                    if (SelectData) {
                        commandName = "Update";
                        //显示加载动画
                        var index = layer.load(0, { shade: false });
                        //打开新增页面
                        $.post(configParams.formUrl, {}, function (formElem) {
                            layer.open({
                                title: "添加信息",
                                area: ['731px', '77%'],
                                skin: 'layui-layer-molv',
                                type: 1,
                                content: formElem,
                            });
                            //关闭加载动画
                            layer.close(index);
                            //渲染页面
                            form.render();
                            //绑定下拉框
                            configParams.formVal(true);
                        });
                    }
                    else {
                        laymsg("请先选择需要修改的人员");
                    }
                }
            }

            $('.tbTools').on('click', '.layui-btn', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            function getByTree() {
                var result;
                $.ajax({
                    url: "/Authority/SelectPowerGroup",
                    type: "post",
                    async: false,//ajax请求方式，默认为true异步
                    dataType: "json",
                    success: function (data) {
                        result = data;
                        result[0]["spread"] = true;
                    }
                });
                return result;
            };

            //获取下拉框绑定的数据
            function getFormSelectsByUserID(userID,type) {
                var result = "";
                $.ajax({
                    url: "/User/" + (type === "Approve" ? "GetApproveInfo" : "GetCCInfo" ),
                    type: "get",
                    data: { userID: userID },
                    dataType: "json",
                    async: false,
                    success: function (r) {
                        result = r
                    }
                })
                return result;
            }

            //获取指定的查询模块
            function getQueryFormElem(url) {
                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "html",
                    async: false,
                    success: function (html) {
                        $("#QueryForms").empty();
                        $("#QueryForms").append(html);
                    }
                })
            }

            //更改标识状态
            function changeMark(url, data) {
                $.ajax({
                    url: url,
                    data: data,
                    type: "post",
                    dataType: "json",
                    success: function (r) {
                        if (!r.IsError) {
                            layer.msg('更新成功', { icon: 1 });
                        } else {
                            layer.msg('更新失败！请稍后再试', { icon: 5 });
                        }
                    }
                });
            }

            //监听选择事件
            table.on('tool(tbUsers)', function (obj) {
                var data = obj.data, layEvent = obj.event;
                if (obj.event === 'select') {
                    SelectData = data;
                }
            });

            //监听显示标记操作
            form.on('switch(ShowMark)', function (obj) {
                var url = "/User/UpdateMark",
                    data = { ID: this.value, Mark: (obj.elem.checked ? "Y" : "N"), name: configParams.showActionName }
                changeMark(url, data);
            });

            //监听显示标记操作
            form.on('switch(Approve_ChangeMark)', function (obj) {
                var url = "/User/UpdateMark",
                    data = { ID: this.value, Mark: (obj.elem.checked ? "Y" : "N"), name: configParams.approveActionName }
                changeMark(url, data);
            });

            //监听显示标记操作
            form.on('switch(CC_ChangeMark)', function (obj) {
                var url = "/User/UpdateMark",
                    data = { ID: this.value, Mark: (obj.elem.checked ? "Y" : "N"), name: configParams.ccActionName }
                changeMark(url, data);
            });

            //监听新增提交
            form.on('submit(query)', function (data) {
                console.log(data.field)
                tb_user.reload({
                    where: data.field
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
                return false;
            });

            //监听新增提交
            form.on('submit(comSave)', function (data) {
                var model = commandName === "Insert" ? $.extend(data.field, { ID: "Insert" }) : $.extend(data.field, { ID: SelectData.ID });
                if (formSelects.value('ApproveID').length === 0 || formSelects.value('CCID').length === 0) {    
                    layer.msg('审批人或抄送人都不能为空！', { icon: 5 });
                    return false;
                }
                ajaxVerify(
                    $.extend(model, { SqlName: configParams.verifyName }),
                    function (r) {
                        layer.msg(r.Data, { icon: 5 });
                        layer.close(index);
                        return false;
                    },
                    function (r) {
                        $.post(
                            configParams.postUrl,
                            { model: model, approve: formSelects.value('ApproveID'), cc: formSelects.value('CCID'), commandName: commandName },
                            function (r) {
                                if (r.status) {
                                    layer.msg('保存异常！' + r.message, { icon: 5 });
                                    return;
                                }
                                else {
                                    if (!r.IsError) {
                                        layer.closeAll();
                                        var msg = commandName === "Insert"
                                            ? "账号添加成功！<span style='color:red;'>默认密码为：123</span>"
                                            :  "修改成功！"
                                        layer.alert(msg, { icon: 1 });
                                        tbUserReload(model.PowerGroupID);
                                    }
                                }
                            }
                        );
                    }
                );
                return false;
            });

            //初始化树
            function InitTree() {
                $("#treeGroup").empty();
                layui.tree({
                    elem: '#treeGroup',
                    nodes: getByTree(),
                    click: function (node) {
                        getTreeNodesData = node;
                        tbUserReload(getTreeNodesData.id)
                    }
                });
            }
        });
    </script>
</body>
</html>
