
@{
    Layout = null;
}

<form class="layui-form layui-form-pane" action="" lay-filter="formInfoCurrency" style="padding:20px 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">币别名称</label>
        <div class="layui-input-inline">
            <input type="text" name="CurrencyName" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">币别代码</label>
        <div class="layui-input-inline">
            <input type="text" name="CurrencyCode" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">说明</label>
        <div class="layui-input-block">
            <input type="text" name="Remark"  autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="comSave">保存</button>
        </div>
    </div>
</form>

