
@{
    Layout = null;
}
<form class="layui-form layui-form-pane" action="" lay-filter="formInfoWuLiuCompany" style="padding:20px 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-inline">
            <select id="YeWuID-F" name="YeWuID" lay-verify="required" lay-search="" lay-filter="YeWuID"></select>
        </div>

        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-inline">
            <input type="text" name="Name" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">联系人</label>
        <div class="layui-input-inline">
            <input type="text" name="LianXiRen" required lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-inline">
            <input type="text" name="LianXiFangShi" required lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="Address"  placeholder="请输入地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="comSave">保存</button>
        </div>
    </div>
</form>
