
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>authority management</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div id="Content"></div>

    <div class="layui-row">
        <div class="layui-col-md3" style="width:15%">
            <div class="grid-demo">
                <ul id="treeTest"></ul>
            </div>
        </div>
        <div class="layui-col-md9"style="width:85%">
            <div class="grid-demo grid-demo-bg1">
                <table class="layui-hide" id="tbPowerType" lay-filter="tbPowerType"></table>
            </div>
        </div>
    </div>

    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var table,  //表格
            form,  //表单
            tree //树形对象
        layui.use(['table', 'form', 'tree'], function () {
            var table = layui.table
                , form = layui.form
                , tree = layui.tree;
            table.render({
                elem: '#tbPowerType'
                , height: 332
                , url: '/Authority/Select' //数据接口
                , method: 'post'
                , page: true //开启分页
                , cols: [[ //表头
                    { field: 'ID', title: 'ID', width: 240, sort: true, fixed: 'left' }
                    , { field: 'PowerName', title: '菜单名称', width: 150 }
                    , { field: 'MenuAddress', title: '地址', width: 150 }
                    , { field: 'ShowMark', title: '显示标识', width: 80, }
                    , { field: 'CreateUser', title: '创建人', width: 120 }
                    , { field: 'CreateDate', title: '创建时间', width: 140, sort: true }
                    , { field: 'Notes', title: '备注', width: 140 }
                    , { field: 'ck', title: '全选', width: 100, checkbox: true }
                ]]
            });
     
            var createTree = function (node, start) {
                node = node || function () {
                    var arr = [];
                      arr.push({
                           id: '000111',
                           name: '权限组'
                      });
                    return arr;
                }();
                start = start || 1;
                layui.each(node, function (index, item) {
                    if (start < 2 && index < 3) {
                        var child = [
                            {
                                id: index,
                                name: (1 + index + start).toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                            }
                        ];
                        node[index].children = child;
                        createTree(child, index + start + 1);
                    }
                });
                return node;
            };

            layui.tree({
                elem: '#treeTest' //指定元素
                , click: function (item) { //点击节点回调
                    layer.msg('当前节名称：' + item.name + ' id = ' + item.id + '<br>全部参数：' + JSON.stringify(item));
                    console.log(item);
                }
                , nodes: createTree()
            });
        });
    </script>
</body>
</html>
