    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorityManagement</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>权限管理</legend>
    </fieldset>
    <div id="Content"></div>
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div id="dataList" style="display: inline-block; width: 85%; height: 666px; padding: 10px; border: 1px solid #ddd; overflow: auto;">
                <ul id="treeTest"></ul>
            </div>
        </div>
        <div class="layui-col-lg10">
            <div id="dataContent">
                <div class="layui-btn-group">
                    <button class="layui-btn" data-type="edit">一键授权</button>
                </div>
                <a id="title" style="float:right;font-size:18px"></a>
                <table class="layui-hide" id="tbPowerType" lay-filter="tbPowerType"></table>
                <script type="text/html" id="switchNO">
                    <a class="layui-btn layui-btn-xs" lay-event="qxedit">权限设置</a>
                </script>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="gnedit">功能设置</a>
                </script>
            </div>
        </div>
    </div>

    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        layui.use(['table', 'form', 'tree', 'upload'], function () {
            var table,  //表格
                form,  //表单
                tree, //树形对象
                SelectData, //表格选中的行对象
                SelectTreeNode, //选中的树节点对象
                upload,//上传
                active;//表上面的按钮事件管理对象

            var table = layui.table
                , form = layui.form
                , tree = layui.tree
                , upload = layui.upload;

            form.render('select'); 

            var getTableByTable = function (id) {
                table.render({
                    elem: '#tbPowerType'
                    , height: 332
                    , url: '/Authority/SelectPowerAllot' //数据接口
                    , where: { model: { PowerGroupID: id } }
                    , method: 'post'
                    , page: true //开启分页
                    , cols: [[ //表头
                        //{ field: 'ID', title: 'ID', width: 240, sort: true, fixed: 'left' }
                        { field: 'PowerName', title: '菜单名称', width: 150, sort: true, fixed: 'left' }
                        //, { field: 'MenuAddress', title: '地址', width: 150 }
                        //, { field: 'ShowMark', title: '显示标识', width: 80, }
                        //, { field: 'CreateUser', title: '创建人', width: 120 }
                        //, { field: 'CreateDate', title: '创建时间', width: 140, sort: true }
                        , { field: 'Notes', title: '备注', width: 140 }
                        , { field: 'Status_xx', title: '权限', width: 100, align: 'center' }
                        , { field: 'ck', title: '权限操作', width: 100, align: 'center', toolbar: '#switchNO' }
                        , { field: 'edit', title: '功能操作', width: 165, align: 'center', toolbar: '#barDemo' }
                    ]]
                });
            };

            function initTree() {
                var result;
                $.ajax({
                    url: "/Authority/SelectPowerGroup",
                    type: "post",
                    async: false,
                    dataType: "json",
                    success: function (r) {
                        result = r;
                    }
                });
                return result
            }
            layui.tree({
                elem: '#treeTest' //指定元素
                , click: function (item) { //点击节点回调
                    var id = item.id;
                    SelectTreeNode = item;
                    getTableByTable(id);
                    $('#title').html(item.name);
                }
                , nodes: initTree()
            });

            //操作监听工具条
            table.on('tool(tbPowerType)', function (obj) {
                var TakeData = obj.data //获得当前行数据
                    , layEvent = obj.event //获得 lay-event 对应的值
                    , status_xxText = TakeData.Status_xx; //获取权限状态
                if (layEvent === 'qxedit') {
                    if (TakeData) {
                        var textStatus, status_xx;
                        if (status_xxText === '未授权') {
                            textStatus = '授权';
                            status_xx = '1';
                        } else if (status_xxText === '授权') {
                            textStatus = '取消授权';
                            status_xx = '0';
                        }
                        layer.confirm('确认' + textStatus, { icon: 3, title: '提示' }, function (index, layero) {
                            $.post('/Authority/UpdateStatus',
                                { model: { ID: TakeData.ID }, Status_xx: status_xx },
                                function (r) {
                                    if (!r.IsError) {
                                        layer.msg('成功！', { icon: 1 });
                                        getTableByTable(TakeData.PowerGroupID);
                                    } else {
                                        layer.msg('失败！', { icon: 5 });
                                    }
                                }
                            );
                        });
                    }
                } else if (layEvent === 'gnedit') {
                    layer.msg('开放中，，，');
                }
            });

            active = {
                //一键授权
                edit: function () {
                    activeName = "Update";
                    if (SelectTreeNode) {
                        if (SelectTreeNode.id === null || SelectTreeNode.id === '00000000-0000-0000-0000-000000000000') {
                            layer.msg('请先选择组', { icon: 2 });
                        } else {
                            layer.confirm('确认一键授权', { icon: 3, title: '提示' }, function (index, layero) {
                                $.post('/Authority/UpdateAllStatus',
                                    { model: { PowerGroupID: SelectTreeNode.id } },
                                    function (r) {
                                        if (!r.IsError) {
                                            layer.msg('一键授权成功！', { icon: 1 });
                                            getTableByTable(SelectTreeNode.id);
                                        } else {
                                            layer.msg('一键授权失败！', { icon: 5 });
                                        }
                                    }
                                );
                            });
                        }
                    }
                }
            }
            //监听按钮点击事件
            $('.layui-btn-group .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>
