    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorityManagement</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>权限管理</legend>
    </fieldset>
    <div id="Content"></div>
    <div class="layui-row">
        <div class="layui-col-md3" style="width:15%; height:600px; margin-right:10px; margin-top:10px; border: 1px solid #ddd;">
            <div class="grid-demo">
                <ul id="treeTest"></ul>
            </div>
        </div>
        <div class="layui-col-md9" style="width:84%">
            <div class="grid-demo grid-demo-bg1">
                <table class="layui-hide" id="tbPowerType" lay-filter="tbPowerType"></table>
                <script type="text/html" id="switchNO">
                    <a class="layui-btn layui-btn-xs" lay-event="qxedit">权限设置</a>
                </script>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="gnedit">功能设置</a>
                </script>
            </div>
        </div>
    </div>

    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        layui.use(['table', 'form', 'tree', 'upload'], function () {
            var table,  //表格
                form,  //表单
                tree, //树形对象
                SelectData, //表格选中的行对象
                SelectTreeNode, //选中的树节点对象
                upload;//上传

            var table = layui.table
                , form = layui.form
                , tree = layui.tree
                , upload = layui.upload;

            var getTableByTable = function (id) {
                table.render({
                    elem: '#tbPowerType'
                    , height: 332
                    , url: '/Authority/SelectPowerAllot' //数据接口
                    , where: { model: { PowerGroupID: id } }
                    , method: 'post'
                    , page: true //开启分页
                    , cols: [[ //表头
                        { field: 'ID', title: 'ID', width: 240, sort: true, fixed: 'left' }
                        ,{ field: 'PowerName', title: '菜单名称', width: 150, sort: true, fixed: 'left'}
                        //, { field: 'MenuAddress', title: '地址', width: 150 }
                        //, { field: 'ShowMark', title: '显示标识', width: 80, }
                        , { field: 'CreateUser', title: '创建人', width: 120 }
                        , { field: 'CreateDate', title: '创建时间', width: 140, sort: true }
                        , { field: 'Notes', title: '备注', width: 140 }
                        , { field: 'Status_xx', title: '权限', width: 100, align: 'center'}
                        , { field: 'ck', title: '权限操作', width: 100, align: 'center', toolbar: '#switchNO' }
                        , { field: 'edit', title: '功能操作', width: 165, align: 'center', toolbar: '#barDemo'}
                    ]]
                });
            };

            function initTree() {
                var result;
                $.ajax({
                    url: "/Authority/SelectPowerGroup",
                    type: "post",
                    async: false,
                    dataType: "json",
                    success: function (r) {
                        result = r;
                    }
                });
                return result
            }
            layui.tree({
                elem: '#treeTest' //指定元素
                , click: function (item) { //点击节点回调
                    var id = item.id;
                    getTableByTable(id);
                }
                , nodes: initTree()
            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //操作监听工具条
            table.on('tool(tbPowerType)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event //获得 lay-event 对应的值
                    , id = data.ID //获取菜单ID
                    , status_xxText = data.Status_xx; //获取权限状态
                if (layEvent === 'qxedit') {
                    var textStatus, status_xx;
                    if (status_xxText === '未授权') {
                        textStatus = '授权';
                        status_xx = '1';
                    } else if (status_xxText === '授权') {
                        textStatus = '取消授权';
                        status_xx = '0';
                    }
                    layer.confirm('确认' + textStatus, { icon: 3, title: '提示' }, function (id, status_xx) {
                        updatePowerAllot(id, status_xx);
                    });
                } else if (layEvent === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                        //向服务端发送删除指令
                    });
                } else if (layEvent === 'gnedit') {
                    
                    layer.confirm('is not?', { icon: 3, title: '提示' }, function (index) {
                        layer.msg('sssss');
                    });
                }
            });
            var updatePowerAllot = function (id, status_xx)
            {
                $.ajax({
                    url: "/Authority/UpdateStatus",
                    data: { ID: id, Status_xx: status_xx },
                    type: "post",
                    async: false,
                    dataType: "json",
                    success: function (r) {
                        if (r.result === "Y") {
                            layer.msg('权限设置成功！');
                        } else if (r.result === "N") {
                            layer.alert("权限设置失败，请重新设置！", {
                                title: '返回结果'
                            })
                        }
                    }
                });
                return false;
            }
        });
    </script>
</body>
</html>
