
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuManagement</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>...</h1>
    </div>
    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <script>

   </script>
</body>
</html>
