
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MKTypeWuLiao</title>
</head>
<body>
    <div id="Content">
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url: "/MKTypeWuLiao/Select",
                type: "get",
                async: false,
                data: { sqlName: "QueryTest"},
                dataType:"json",
                success: function (r) {
                    $("#Content").html(r);
                }
            })
            
        })
    </script>
</body>
</html>
