
@{
    Layout = null;
}
<!--QueryFormInfoSupplier-->
<!--Row1-->
<div class="layui-form-item">
    <label class="layui-form-label">供应商名称</label>
    <div class="layui-input-inline">
        <input type="text" name="SupplierName" lay-verify="" autocomplete="off" class="layui-input">
    </div>

    <label class="layui-form-label">联系人</label>
    <div class="layui-input-inline">
        <input type="text" name="LianXiRen" lay-verify="" autocomplete="off" class="layui-input">
    </div>

    <label class="layui-form-label">联系方式</label>
    <div class="layui-input-inline">
        <input type="text" name="LianXiFangShi" lay-verify="" autocomplete="off" class="layui-input">
    </div>
</div>

<!--Row2-->
<div class="layui-form-item">
    <label class="layui-form-label">供应物料</label>
    <div class="layui-input-block">
        <select id="WuLiaoDetail" xm-select="selectSpType" xm-select-type="3"
                xm-select-icon="&#xe605;" xm-select-placeholder="请选择" xm-select-skin="primary"
                xm-select-search></select>
    </div>
</div>

<!--Row3-->
<div class="layui-form-item">
    <label class="layui-form-label">地址</label>
    <div class="layui-input-block">
        <input type="text" name="Address" lay-verify="" autocomplete="off" class="layui-input">
    </div>
</div>

<!--Row4-->
<div class="layui-form-item">

    <label class="layui-form-label">创建时间</label>
    <div class="layui-input-inline">
        <input type="text" name="StartDate" class="layui-input queryDate" placeholder="起始日期">
    </div>
    <div class="layui-form-mid">~</div>
    <div class="layui-input-inline">
        <input type="text" name="EndDate" class="layui-input queryDate2" placeholder="结束日期">
    </div>

    <label class="layui-form-label">显示标识</label>
    <div class="layui-input-inline">
        <select id="ShowMark" name="ShowMark" lay-verify="required" lay-search="" lay-filter="ShowMark">
            <option value="All">全部</option>
            <option value="Y">显示</option>
            <option value="N">不显示</option>
        </select>
    </div>

    <div class="layui-input-inline">
        <button class="layui-btn" lay-submit lay-filter="comQuerySupplier"><i class="layui-icon layui-icon-search" style="font-size: 15px;"></i> 查询</button>
    </div>
</div>
