
@{
    Layout = null;
}

<!DOCTYPE html>

<table class="layui-hide" id="tbFunction" lay-filter="tbFunction"></table>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="Status" value="{{d.ID}}" lay-skin="switch" lay-text="授权|无权" lay-filter="StatusDemo" {{ d.Status == 1 ? 'checked' : '' }}>
</script>