
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<table class="layui-hide" id="tbFunction" lay-filter="tbFunction"></table>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="function">保存</button>
    </div>
</div>