
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackManager</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
</head>
<body>
    <div style="height:60px;position: relative;top: 0;width:100%;z-index: 100;background: #393D49;">
        <div style="display: inline;font-size: 40px;margin-left:20px;position:relative;">
            <a><img src="../../img/logo1.png" style="width: 100px;height: 50px;"></a>
            <a style="position:absolute;top:8px; margin-left:20px;">MoonlightGoddess</a>
        </div>
        <ul class="layui-nav" style="border-radius: 0;display: inline;float: right;">


            <li class="layui-nav-item"><a href="">最新活动</a></li>
            <li class="layui-nav-item layui-this"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <!-- 二级菜单 -->
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
            <li class="layui-nav-item">
                <a href="">admin</a>
            </li>
            <li class="layui-nav-item">
                <a href="">设置</a>
            </li>
            <li class="layui-nav-item">
                <a href="">退出</a>
            </li>
        </ul>
    </div>
    <div style="top:60px;position: fixed;overflow-x: hidden;">
        <ul class="layui-nav layui-nav-tree layui-nav-side" style="margin-top: 60px;border-radius: 0;">
            <li class="layui-nav-item layui-nav-itemed">
                <a>日常</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a name='a' title="/Home/Unit">商品管理</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit2">用户管理</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit3">订单管理</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">商家入驻申请</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">评价管理</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a>基础</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a name='a' title="/Home/Unit">仓库管理</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">人员管理</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a>日志</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a name='a' title="/Home/Unit">订单日志</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">登录日志</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">异常日志</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a>报表</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a name='a' title="/Home/Unit">销售报表</a>
                    </dd>
                    <dd>
                        <a name='a' title="/Home/Unit">进货报表</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
    <div style="left: 200px;right:0;position: absolute;overflow-y: auto;">
        <div class="layui-tab" lay-filter="demo" lay-allowClose="true">
            <ul id="tabTitle" class="layui-tab-title"></ul>
            <div id="tabContainers" class="layui-tab-content">
            </div>
        </div>
    </div>
    <script type="text/javascript">

            //调整iframe高度
            function reinitIframe() {
                var iframes = document.getElementsByName("iframe");
                try {
                    for(var i = 0; i < iframes.length; i++)
                        //iframes[i].height = iframes[i].contentWindow.document.documentElement.scrollHeight;
                        iframes[i].height = window.screen.height -280;
                } catch(ex) {}
            }
            window.setInterval("reinitIframe()", 200);

            layui.use('element', function() {
                var $ = layui.jquery,
                    element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

                //触发事件
                var active = {
                    tabAdd: function() {
                        //新增一个Tab项
                        element.tabAdd('demo', {
                            title: $(this).text(),
                            content: '<iframe name="iframe" src="' + this.title + '" frameborder="0" style="width: 100%;"></iframe>',
                            id: $(this).text()
                        });
                        //增加点击关闭事件
                        var r = $("#tabTitle").find("li");
                        //每次新打开tab都是最后一个，所以只对最后一个tab添加点击关闭事件
                        r.eq(r.length - 1).children("i.layui-tab-close").on("click", function() {
                            element.tabDelete("demo", $(this).parent("li").index());
                        }), element.tabChange("demo", r.length - 1);
                        element.init();
                    },
                    tabDelete: function(index) {
                        //删除指定Tab项
                        element.tabDelete('demo', index); //删除（注意序号是从0开始计算）
                    },
                    tabChange: function(index) {
                        //切换到指定Tab项
                        element.tabChange('demo', index); //切换（注意序号是从0开始计算）
                    }
                };

                $("a[name='a']").on("click", function() {
                    var title = $(this).text();
                    var tabs = $(".layui-tab-title").children();
                    for(var i = 0; i < tabs.length; i++) {
                        if($(tabs[i]).html().substr(0,$(tabs[i]).html().indexOf("i")-1) === title) {
                            element.tabChange('demo', $(this).text());
                            return;
                        }
                    }
                    active["tabAdd"].call(this);
                    active.tabChange($(this).text());
                });
            });

    </script>
</body>
</html>
