
@{
    Layout = null;
}
<!--ApprovedTaskDetail-->

<div class="data-box">
    <div class="layui-btn-group tbTools"></div>
    <table class="layui-hide" id="tbApprovedTaskDetail" lay-filter="tbApprovedTaskDetail"></table>
</div>
