
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InitiateApprovals</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/layui-v2.4.2/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/mk-icon-hub/iconfont.css" rel="stylesheet" />
    <style type="text/css">
        .approvals-units {
            width: 650px;
            height: 350px;
            background-color: #393D49;
            overflow: auto;
        }

        .approvals-units-item {
            width: 100%;
            height: 85px;
            text-align: center;
            line-height: 85px;
        }
        .maxh {
            max-height: 85px !important;
        }

        .layui-cursor-pointer {
            cursor: pointer;
            border-radius: 6px;
        }

        .layui-bg-pink {
            background-color: pink !important;
            color: #fff !important;
        }

        .layui-approvals-img {
            width: 54px;
            height: 54px;
            border-radius: 6px;
        }
        .mk-iconsize-default {
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="layui-collapse" lay-filter="ApprovalsColla"></div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layui-v2.4.2/layui/layui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Js/MKCom.js"></script>
    <script>
        var layer;
        //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element','layer'], function () {
            var element = layui.element;
            layer = layui.layer;
            var index = layer.load(0, { shade: false });
            $.get("/Approvals/GetApprovalsColla", {}, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var html = "";
                    html +=
                        '<div class="layui-colla-item">' +
                            '<h2 class="layui-colla-title"> <span class="layui-badge layui-bg-cyan">' + data[i].ApprovedGroupName + '</span> <span class="layui-badge">' + data[i].ApprovedTypes.length + '</span></h2>'+
                            '<div class="layui-colla-content layui-show">' +
                                 '<div class="layui-row layui-col-space12" >';

                    for (var t = 0; t < data[i].ApprovedTypes.length; t++) {
                        html += '<div class="layui-col-lg2">'+
                            '    <div class="approvals-units-item layui-cursor-pointer " style="color:white; background-color:' + data[i].ApprovedTypes[t].BackgroundColor + '" id="' + data[i].ApprovedTypes[t].ID + '" hasTemplate="' + data[i].ApprovedTypes[t].HasTemplate+'" approved-url="'+data[i].ApprovedTypes[t].ApprovedTypeName+'" onclick = "OnApprovalsUnit(this)" data-toggle="tooltip" title = "'+data[i].ApprovedTypes[t].ApprovedTypeName+'" >'+
                            '        <div class="maxh layui-col-md4">'+
                            '            <i class="mk-iconfont '+data[i].ApprovedTypes[t].ClassIconfont+' mk-iconsize-default"></i>'+
                            '        </div>'+
                            '        <div class="layui-col-md5 layui-elip">'+
                                        data[i].ApprovedTypes[t].ApprovedTypeName +
                            '        </div>'+
                            '    </div>'+
                            '</div>';
                    }

                    html +='</div>' +
                            '</div>' +
                        '</div>';
                    $(".layui-collapse").append(html);
                    element.render("collapse", "ApprovalsColla");
                    $("[data-toggle='tooltip']").tooltip();
                }
                layer.close(index);
            }, "json");
        });

        function OnApprovalsUnit(obj) {
            var hasTemplate = $(obj).attr("hasTemplate")
            , appUnit = $(obj).attr("approved-url")
            , appID = $(obj).attr("id")
            , url = "";
            if (appID && hasTemplate === "true") {
                var onIndex = layer.load(0, { shade: false })
                url = "/Approvals/FormApprovals?id=" + appID;
                window.location.href = url;
                layer.close(onIndex);
            }
            else {
                laytiperr("还没有该审批类型模板", obj, "w", 2599);
            }
            //window.parent.activeTab(appUnit, appUnit, url);
        }
    </script>
</body>
</html>
