
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Moonlight Goddess</title>
    <link href="~/Scripts/layui-v2.4.2/layui/css/layui.css" rel="stylesheet" />
    <link href="~/CSS/login.css" rel="stylesheet" />
    <link href="~/CSS/drag.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="loginBox">
        <div class="headerBox">
            <div class="header">
                <h1 class="name">Moonlight Goddess</h1>
            </div>
        </div>
        <div class="contentBox">
            <div class="conter">
                <div class="positionBox">
                    <div class="avatar layui-circle"></div>
                    <form class="layui-form" action="" style="text-align: center;">
                        <div class="row">
                            <div class="layui-input-inline inputBox">
                                <input type="text" name="title" lay-verify="username" placeholder="请输入用户名" autocomplete="off" class="layui-input user">
                            </div>
                        </div>
                        <div class="row">
                            <div class="layui-input-inline inputBox">
                                <input type="password" name="password" lay-verify="password" placeholder="请输入密码" autocomplete="off" class="layui-input pwd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="layui-input-inline inputBox">
                                <div id="drag">
                                    <div class="drag_bg"></div>
                                    <div class="drag_text slidetounlock" onselectstart="return false;" unselectable="on">
                                        请按住滑块，拖动到最右边
                                    </div>
                                    <div class="handler handler_bg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="layui-btn layui-btn-fluid inputBox onLogin" lay-submit="" lay-filter="onLogin">登录</button><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footerBox">
            <div class="footer">
                <h3 class="name">Copyright © 1996-2018 Moonlight Goddess 2018.5.20</h3>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Js/drag.js"></script>
    <script src="~/Scripts/layui-v2.4.2/layui/layui.js"></script>
    <script>
       layui.use('form', function () {
            var form = layui.form;
            $('#drag').drag();
            form.verify({
                username: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (/^\s*$/.test(value)) {
                        return '账号不能为空';
                    }
                },
                password: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (/^\s*$/.test(value)) {
                        return '密码不能为空';
                    }
                }
            });      
            //监听提交
            form.on('submit(onLogin)', function (data) {
                if ($(".drag_text").text().indexOf("验证通过") < 0) {
                    layer.tips('请完成滑动验证', '#drag', {
                        tips: [2, '#26A69A'],
                        time: 3000
                    });
                    return false;
                }
                var index = layer.load(0, { shade: false, time: 15 * 1000 });
                $(".onLogin").text("正在登录，请稍后");
                $.ajax({
                    url: "/Login/OnLogin",
                    type: "post",
                    data: { UserName: data.field.title, password: data.field.password },
                    dataType: "json",
                    success: function (r) {
                        layer.close(index);
                        switch (r.code) {
                            case 200:
                                $(".onLogin").text("登录成功");
                                window.location.href = r.message;
                                break;
                            case 101:
                                layer.tips(r.message, '.pwd', {
                                    tips: [2, '#E53935'],
                                    time: 3000
                                });
                                break;
                            case 301:
                                layer.alert(r.message, {
                                    icon: 0,
                                    skin: 'layui-layer-molv',
                                    title: '失效账号'
                                })
                                break;
                            case -1:
                                layer.tips(r.message, '.user', {
                                    tips: [2, '#FFAB00'],
                                    time: 3000
                                });
                                break;
                        }
                    },
                    complete: function (xhc, o) {
                        $(".onLogin").text(xhc.responseJSON.code === 200 ? "登录成功" : "登录");
                        layer.close(index);
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
