
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnitestLogin</title>
    <link href="~/Scripts/layui-v2.2.6/layui/css/layui.css" rel="stylesheet" />
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        .name {
            /*background-image: -webkit-linear-gradient(bottom, rgb(201, 115, 255), rgb(20, 11, 255));*/
            background-image: -webkit-linear-gradient(right, rgb(201, 115, 255), #26A69A);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .loginBox {
            position: absolute;
            height: 710px;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: -355px;
            /*background-color: aquamarine;*/
        }

        .headerBox {
            margin: 0 auto;
            width: 957px;
            height: 66px;
        }

        .header h1 {
            float: left;
            margin-top: 17px;
            font-size: 2em;
            font-weight: bold;
            color: #5c5c5c;
        }

        .contentBox {
            min-width: 1000px;
            background: url(../../images/login-bg-img.jpg) no-repeat center top;
            background-size: cover
        }

        .conter {
            position: relative;
            margin: 0 auto;
            height: 600px;
        }

        .positionBox {
            position: relative;
            width: 408px;
            height: 308px;
            top: 20%;
            margin: 0 auto;
            background-color: #fff;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top: 4px solid #26A69A;
            -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }

        .footerBox {
            width: 100%;
            height: 40px;
            background-color: #f6f6f6;
        }

        .footer {
            margin: 0 auto;
            width: 936px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            color: #5c5c5c;
        }
        .avatar {
            width: 66px;
            height: 66px;
            margin: 15px auto;
            background: url(../../Files/2018-05/20180530192331mingsnx-git.jpeg) no-repeat;
            background-size: cover;
            -webkit-box-shadow: 0 0 15px #26A69A;
            -moz-box-shadow: 0 0 15px #26A69A;
            box-shadow: 0 0 15px #26A69A;
            cursor:pointer;
        }
        .row {
            margin: 22px 2px;
        }
        .inputBox {
            width: 66%;
        }
        .layui-input {
            color: #00695C;
        }
        .layui-input:hover {
            border-color: #26A69A !important;
            box-shadow: 0 0 6px #26A69A;
        }
    </style>
</head>
<body>
    <div class="loginBox">
        <div class="headerBox">
            <div class="header">
                <h1 class="name">Moonlight Goddess</h1>
            </div>
        </div>
        <div class="contentBox">
            <div class="conter">
                <div class="positionBox">
                    <div class="avatar layui-circle"></div>
                    <form class="layui-form" action="" style="text-align: center;">
                        <div class="row">
                            <div class="layui-input-inline inputBox">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入用户名" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="row">
                            <div class="layui-input-inline inputBox">
                                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="row">
                            <button class="layui-btn layui-btn-fluid inputBox" lay-submit="" lay-filter="onLogin">登录</button><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footerBox">
            <div class="footer">
                <h3>Copyright © 1996-2018 Moonlight Goddess 2018.5.20</h3>
            </div>
        </div>
    </div>

    <script src="~/Scripts/layui-v2.2.6/layui/layui.js"></script>
    <script>
        layui.use(['element', 'form'], function () {
            var $ = layui.jquery
                , element = layui.element;
            var layid = location.hash.replace(/^#test=/, '');
            var form = layui.form;

            element.tabChange('test', layid);

            element.on('tab(test)', function (elem) {
                location.hash = 'test=' + $(this).attr('lay-id');
            });

            //监听提交
            form.on('submit(onLogin)', function (data) {
                $.ajax({
                    url: "/Login/OnLogin",
                    type: "post",
                    data: { UserName: data.field.title, password: data.field.password },
                    dataType: "json",
                    success: function (r) {
                        if (r.result === "Y") {
                            window.location.href = '../Index/Home';
                        } else {
                            layer.alert("登陆失败，账号或密码不正确", {
                                title: '返回结果'
                            })
                        }
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
